$white: #ffffff;
$gray: #b3b3b3;

.arrow_box {
	position: relative;
	background: #ffffff;
	border: 3px solid #b3b3b3;
    padding:7px;
    border-radius: 5px;
    width:40%;
    margin:3px;
}

.arrow_box:after, .arrow_box:before {
	top: 50%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-width: 10px;
	margin-top: -10px;
}

.arrow_box:before {
	border-color: rgba(179, 179, 179, 0);
	border-width: 14px;
	margin-top: -14px;
}

.left_arrow:after, .left_arrow:before{
    right: 100%;
}

.left_arrow:after{
	border-right-color: $white;
}

.left_arrow:before{
    border-right-color: $gray;
}

.right_arrow:after, .right_arrow:before{
    left: 100%;
}

.right_arrow:after{
	border-left-color: $white;
}

.right_arrow:before{
    border-left-color: $gray;
}